

textarea {
    height : 100px;
    width: 100%;
   
}

.error { 
    color: red;
}

.input-text {
    display: flex;
}

.input-text .form { 
    width: 70vw; 
    margin-left: auto;  
    margin-right: auto;   
    order: 2;
}

.input-text .form p {
    text-align: left;
    color: #fff;
}